{%extends 'base.html'%}
{% block content %}
<style>
    body {
        font-family: sans-serif;
        display: grid;
        justify-content: center;
        align-items: center;
        color: #586e75;
        font-size: 0.9rem;
    }
    h1,h2{
        text-align: center;
        color: #F8F8FF;
        font-weight: 600;
    }
    h6{
        color:#00bb10;
        text-align: center;
    }
    .raise{
    background: #000000d3;
    border: 2px solid;
    border-color: #d11717;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 102px #d11717,
      0 0 151px #d11717;

    font-weight: 600;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    }
    .raise:hover,
    .raise:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
    }

    .status{
        background-color: #ececec3b;
        border: none;
        color: white;
        
        padding: 5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 10%;
        
    }

    .status a {
        text-decoration: none;
        color: white;
    }
    
    .container {
	position: relative;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 40px 0;
}

.container .card {
	position: relative;
	width: 300px;
	height: 400px;
	background: rgba(255, 255, 255, 0.05);
	margin: 20px;
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(10px);
}


.container .card .content {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transition: 0.5s;
}

.container .card:hover .content {
	transform: translateY(-20px);
}

.container .card .content .imgBx {
	position: relative;
	width: 150px;
	height: 150px;
	overflow: hidden;
}

.container .card .content .imgBx img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.container .card .content .contentBx h3 {
	color: #fff;

	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 500;
	font-size: 18px;
	text-align: center;
	margin: 20px 0 10px;
	line-height: 1.1em;
    
}

.container .card .content .contentBx h3 span {
	font-size: 12px;
	font-weight: 300;
	text-transform: initial;
    overflow-wrap: break-word;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px; 
}
</style>
<body style="background-image: url(https://i.redd.it/hnnd164yyq281.png);">
<h1>Hi, {{username}}</h1>
<br><br>
<h2> These are your tasks</h2>

<div class="wrapper">
{% for task in todolist %}
	<section>
		<div class="container">
            {% if task.is_finished %} 
            <div class="card" style="background-color: #15a83a91;">
                <div class="content">
                <div class="imgBx">
                    <img src="https://www.pngall.com/wp-content/uploads/5/Green-Checklist.png">
                </div>
                     {% else %} 
                     <div class="card" style="background-color: #b1050591;">
                        <div class="content">
                            <div class="imgBx">
                                <img src="https://gra.gov.gh/wp-content/uploads/2021/10/GRA-Not-Recruiting.png">
                            </div>           
                     {% endif %}
 					<div class="contentBx">
						<h3>{{task.title}}<br><span>{{task.description}}</span><br><span>{{task.date}}</span></h3>
					</div>
				</div>
                <button class ="status"><a href="{% url 'todolist:change_status' id=task.id%}">Change Status</a></button>
                <button class ="status"><a href="{% url 'todolist:delete_task' id=task.id%}">Delete</a></button>
                
        </div>
    </div>
  </section>
  {% endfor %}
</div>

<button class ="raise"><a href="{% url 'todolist:logout' %}" style="color:#ffffff ;">Logout</a></button>
<button class ="raise"><a href="{% url 'todolist:create_task' %}" style="color:#ffffff ;">Create Task</a></button>
<h6> Last login : {{lastlogin}}</h6>
</body>
{% endblock content %}
